/********* This is for Navigation ***********/
@use "../abstracts" as a;
/*========== NAV ==========*/
.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem 0;

  &__logo {
    width: 150px;
    object-fit: cover;
  }

  &__toggle {
    cursor: pointer;
    font-size: 1.5rem;
    color: var(--title-color);
  }

  .nav__link {
    color: var(--text-color-light);
    position: relative;
  }
  .active--link {
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
  }
  .nav__link:hover {
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
  }
  .nav__link:hover::after {
    content: "";
    position: absolute;
    width: 80%;
    height: 2px;
    left: 0;
    bottom: -3px;
    transition: all 0.4s ease-in-out;
    background-color: #000;
  }

  .nav-user {
    display: none;
    color: var(--title-color);
    font-size: 2rem;
  }

  @media screen and (max-width: 967px) {
    &__menu {
      position: fixed;
      right: -100%;
      top: 0;
      width: 100%;
      margin: 0 auto;
      border-bottom-right-radius: 1rem;
      border-bottom-left-radius: 1rem;
      padding: 1.5rem 0rem;
      text-align: center;
      z-index: var(--z-fixed);
      transition: all 0.8s ease-in;
      box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
      background-color: var(--body-color);

      &--list {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
        .nav-close {
          position: absolute;
          right: 1.5rem;
          top: 1.5rem;
          cursor: pointer;
          font-size: 1.5rem;
          color: var(--title-color);
        }
      }
    }
  }

  @media screen and (min-width: 768px) {
  }

  @media screen and (min-width: 968px) {
    &__menu--list {
      display: flex;
      flex-direction: row;
      column-gap: 1.5rem;
    }

    &__toggle,
    .nav-close {
      display: none;
    }
    .nav-user {
      display: block;
      cursor: pointer;
      // margin-right: 15rem;
      justify-self: flex-start;
    }
  }
}

/* show Menu toggle from classList in JS */
.show-menu {
  right: 0%;
}

.active--link::after {
  content: "";
  position: absolute;
  width: 80%;
  height: 2px;
  left: 0;
  bottom: -3px;
  transition: all 0.4s ease-in-out;
  background-color: #000;
}
